@import "../../constants";

@keyframes bounce-up {
    0% {
        transform: translateY(5px);
        opacity: 1;
    }
    50% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}

.landing {
    &-container {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto;
        grid-template-areas:
            "landing-text landing-graphic"
            "landing-button landing-graphic";

        @include phone {
            padding-top: 50px;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "landing-text"
                "landing-button"
                "landing-graphic";
        }
    }
    &-text {
        align-self: flex-end;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: $font-regular;
        font-size: $text-medium;
        width: 100%;
        grid-area: landing-text;
        text-align: left;
        @include phone {
                align-items: center;
                text-align: center;
        }
    }

    &-title {
        font-size: $text-logo;
        font-family: $font-logo;
        @include tablet {
            font-size: $text-large;
        }
        @include phone {
                font-size: 18px;
        }
    }

    &-slogan {
        font-size: $text-xxlarge;
        font-family: "Quicksand";
        padding-bottom: 10px;
        @include desktop {
            font-size: 58px;
        }
        @include tablet {
            font-size: $text-large;
        }
        @include small-phone {
                font-size: 30px;
        }
    }

    &-graphic-container {
        align-self: center;
        img {
            margin-left: 20px;
            animation: bounce-up 3s linear infinite;
            @include phone {
                    margin-left: 0;
            }
        }
        grid-area: landing-graphic;
    }

    &-button-container {
        @include phone {
            justify-self: center;
        }
    }
}

h4 {
    line-height: $text-large;
    margin-top: 5px;
    @include phone {
            line-height: 24px;
    }
}

.button {
    margin-top: 20px;
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-purple;
    color: $text-light;
    font-size: $text-medium;
    font-family: "Quicksand";
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-area: landing-button;
    @include phone {
        font-size: 16px;
        width: 136px;
        height: 48px;
    }

    &:hover,
    &:focus {
        opacity: 0.7;
    }
}
