@import "../../constants";

.faq {
  &-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 92vh;
    align-items: center;
  }
  &-title {
    font-family: $font-title;
    font-size: $text-xlarge;
    margin-bottom: 3rem;
    align-self: flex-start;
    @include tablet {
      margin-bottom: 2rem;
      font-size: $text-medium;
      text-align: center;
      align-self: center;
    }
  }
  &-questions {
    display: flex;
    gap: 1rem;
    @include tablet {
      flex-direction: column;
    }
  }
  &-left-col > *,
  &-right-col > * {
    margin-bottom: 1rem;
  }
  &-left-col > :nth-last-child(1),
  &-right-col > :nth-last-child(1) {
    margin-bottom: 0;
  }
  &-contact {
    text-align: center;
    margin-top: 2.125rem;
    font-family: $font-regular;
    font-size: $text-small;
    @include phone {
      width: 300px;
    }
    > a {
      font-family: $font-bold;
      font-weight: bold;
    }
  }
}
