@import "../../constants";

.faq {
  &-container {
    display: inline-block;
    height: 92vh;
    text-align: left;
    @include phone {
      height: auto;
      padding: 2rem;
    }
  }
  &-title {
    font-family: $font-title;
    font-size: $text-xlarge;
    margin-bottom: 3rem;
    @include phone {
      margin-bottom: 2rem;
      font-size: $text-medium;
      text-align: center;
    }
  }
  &-questions {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &-left-col > *,
  &-right-col > * {
    margin-bottom: 1rem;
  }
  &-left-col > :nth-last-child(1),
  &-right-col > :nth-last-child(1) {
    margin-bottom: 0;
  }
  &-contact {
    text-align: center;
    margin-top: 2.125rem;
    font-family: $font-regular;
    font-size: $text-small;
    > a {
      color: $text-dark;
      font-family: $font-bold;
      font-weight: bold;
    }
  }
}
