.contact-container {
    height: 92vh;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.email-input{
    width: 320px;
    height: 40px;
    background: #E8EAFA;
    border-radius: 5px;
    border: none;
    font-family: "Poppins";
    padding-left: 10px;
    @media (max-width: 600px) {
        width: 250px;
     }
     @media (max-width: 500px) {
        width: 200px;
     }
     @media (max-width: 450px) {
        width: 170px;
     }
}

.email-wrapper {
    margin-top: 16px;
    position: relative;
}

.submit-wrapper{
    width: 40px;
    height: 33px;
    margin-top: 4px;
    left: 285px;
    border-radius: 3px;
    background-color: #99ACEB;
    display: inline;
    position: absolute;
    @media (max-width: 600px) {
        left: 215px;
     }
     @media (max-width: 500px) {
        left: 165px;
     }
     @media (max-width: 440px) {
        left: 135px;
     }
}

.submit-btn{
    width: 15px;
    height: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact{
    min-width: 50%;
    @media (max-width: 1045px) {
       width: 100%;
    }
}

.contact-links{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.contact-links:hover {
    text-decoration: underline;
}

.contact-image{
    width: 500px;
    height: 50px;
}

.socials-row{
    max-width: 300px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-row{
    max-width: 450px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-title {
    margin-top: 32px;
}
