@import "../../constants.scss";

.card {
  display: block;
  width: 40vw;
  max-width: 590px;
  border-radius: 10px;
  padding: 24px 32px;
  font-family: $font-regular;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
  @include tablet {
    width: 80vw;
  }
}

.card > summary {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .question {
    font-size: $text-medium;
    font-family: $font-regular;
    font-weight: 400;
    @include phone {
      width: 13rem;
    }
    @include tablet {
      font-size: $text-small;
      display: inline-block;
    }
    margin-right: 2rem;
  }
}

.answer {
  margin-top: 1rem;
  @include tablet {
    font-size: $text-small;
  }
}

.faq-arrow {
  margin-right: 10px;
  transform-origin: center;
  transition: all 0.5s ease;
}

.card[open] > summary > .faq-arrow {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card[open] .answer {
  animation: fadeIn 0.4s ease;
}
