@import "../../constants.scss";

.card {
  background-color: $text-muted;
  width: 600px;
  border-radius: 10px;
  padding: 1rem;
  font-family: $font-regular;
  &:hover {
    cursor: pointer;
  }
  @include phone {
    background-color: $light-blue;
    width: 320px;
  }
}

.card > summary {
  list-style: none;
  .question {
    font-size: $text-medium;
    color: $text-dark;
    @include phone {
      font-family: $font-bold;
      font-size: $text-small;
      display: inline-block;
      width: 250px;
    }
  }
}

.answer {
  margin-top: 1rem;
}

.chevron-down {
  float: right;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 10px;
  transform: rotate(45deg);
  transform-origin: center;
  transition: all 0.5s ease;
}

.card[open] > summary > .chevron-down {
  transform: rotate(225deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card[open] .answer {
  animation: fadeIn 0.4s ease;
}
