@import "../../constants";
.nav {
  &-container {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 74px;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    width: 100%;
    @include phone {
      height: 64px;
    }
  }

  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: $text-small;
    @include phone {
      justify-content: space-between;
      .mobile {
        display: flex;
        align-items: center;
      }
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }

  &-link {
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    &:hover {
      opacity: 0.5;
      transition: linear 0.2s;
    }
    @include tablet {
      padding: 10px;
    }
  }

  &-desktop-links {
    display: block;
    @include phone {
      display: none;
    }
  }

  &-mobile-links {
    display: none;
    @include phone {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 100;
      background-color: $light-pink;
      padding: 20px;
      width: 100%;
    }
  }
}

.logo-link {
  padding: 0 50px;
  &:hover {
    opacity: 0.7;
    transition: linear 0.4s;
  }
  img {
    height: 40px;
  }
  @include tablet {
    padding: 0 10px 0 0;
  }
}

.mlh-banner {
  max-height: 180px;
  margin-right: 50px;
  margin-left: 10px;
  overflow-x: visible;
  @include tablet {
    margin-right: 10px;
  }
  @include phone {
    display: none;
  }
}

.mobile-menu {
  opacity: 1;
  display: none;
  width: 30px;
  padding-right: 40px;
  padding-left: 20px;
  @include phone {
    display: block;
  }
  z-index: 1000;
}

.mobile {
  margin-right: 80px;
  @include phone {
    margin-right: 0;
  }
}
