@import "../../constants";

.our-sponsors {
  &-container {
    text-align: left;
    @include phone {
      height: auto;
    }
    a {
      &:hover {
        opacity: 0.5;
        transform: translateY(-5px);
        transition: 0.1s linear;
      }
    }
  }

  &-title {
    margin-top: 50px;
    margin-bottom: 16px;
    @include phone {
      text-align: left;
    }
  }

  &-logos {
    padding: 24px;
    border-radius: 25px;
    a {
      width: 90%;
      align-self: center;
      justify-self: center;
      text-align: center;
      img {
        width: 100%;
        text-align: center;
      }
    }
    @include phone {
      padding: 10px;
    }
  }

  &-gold {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    a {
      padding-top: 20px;
      max-width: 650px;
      text-align: center;
    }
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      a {
        max-width: 450px;
      }
    }
  }

  &-silver {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    a {
      max-width: 400px;
      padding: 0 35px;
    }
    @include tablet {
      a {
        max-width: 300px;
        width: 90%;
      }
    }
    @include phone {
      margin-top: 20px;
      justify-content: space-around;
      padding: 0;
    }
  }

  &-bronze {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    a {
      max-width: 200px;
    }
    @include tablet {
      a {
        max-width: 150px;
      }
    }
    @include phone {
      margin-top: 20px;
      a {
        width: 100%;
      }
    }
  }

  &-partners {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    a {
      width: 40%;
      max-width: 300px;
      padding: 0 20px;
      img {
        width: 100%;
      }
    }
    @include tablet {
      a {
        margin-top: 20px;
        width: 50%;
      }
    }
    @include phone {
      padding: 0 0 20px 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        width: 80%;
        max-width: 250px;
      }
    }
  }
}
