@import "../../constants";

.our-sponsors {
  &-container {
    display: inline-block;
    text-align: left;
    @include phone {
      height: auto;
      //padding: 2rem;
    }
  }
  &-title {
    margin-bottom: 2rem;
    @include phone {
      margin-bottom: 2rem;
      text-align: left;
    }
  }

  &-logos {
    padding: 20px;
  }

  &-silver {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      width: 30%;
      img {
        width: 100%;
      }
      &:hover {
        opacity: 0.5;
        transform: translateY(-5px);
        transition: 0.1s linear;
      }
    }
    @include tablet {
      flex-direction: column;
      a {
        width: 70%;
      }
    }
    @include phone {
      flex-direction: column;
      a {
        width: 100%;
      }
    }
  }
  &-bronze {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      width: 15%;
      img {
        width: 100%;
      }
      &:hover {
        opacity: 0.5;
        transform: translateY(-5px);
        transition: 0.1s linear;
      }
    }
    @include tablet {
      align-items: center;
      flex-direction: column;
      a {
        width: 30%;
        img {
          width: 100%;
        }
      }
    }
    @include phone {
      align-items: center;
      flex-direction: column;
      a {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}
