@import "../../constants";

@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.sponsor-us {
  &-container {
    text-align: left;
    @include phone {
      height: auto;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    @include phone {
      flex-direction: column;
    }
  }

  &-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include phone {
      width: 100%;
    }
  }

  &-images {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 40px;
    @include phone {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .plant-and-bee {
      width: 80%;
      animation: bounce-up 3s linear infinite;
      @include phone {
        content: url("../../resources/images/graphics/balloon-and-bee.svg");
        padding-top: 0;
      }
    }
    /*
    .leaves {
      width: 50%;
      padding-top: 60px;
      animation: rotate 5s linear infinite;
      @include phone {
        content: url("../../resources/images/graphics/balloon-and-bee.svg");
        width: 80%;
        padding-top: 0;
        animation: bounce-up 3s linear infinite;
      }
    }
    .bee {
      width: 25%;
      animation: bounce-up 3s linear infinite;
      @include phone {
        display: none;
      }
    }
    */
  }

  &-title {
    margin-bottom: 16px;
    @include phone {
    }
  }

  &-description {
    margin-bottom: 8px;
    p {
      margin-bottom: 16px;
    }
    @include phone {
      width: 100%;
      p {
        margin-bottom: 8px;
      }
    }
  }
  &-image {
    width: 30%;
  }
  &-showcase {
    margin-top: 1rem;
    margin-bottom: 3rem;
    @include phone {
      margin-bottom: 2rem;
    }
  }
  &-carousel {
    display: inline-block;
    margin-left: 1ch;
    height: 92vh;
    width: 200ch;
  }
}
