@import "../../constants";

.section-wrapper {
    display: flex;
    justify-content: center;
}

.section-container {
    width: $width-lg-max;
    padding-top: 5vh;
    @include tablet {
        width: 100%;
    }
}