// Font
$font-logo: "Josefin Sans";
$font-bold: "Poppins Bold";
$font-italic: "Poppins Italic";
$font-regular: "Poppins";

$text-xxsmall: 10px;
$text-xsmall: 12px;
$text-small: 15px;
$text-medium: 18px;
$text-large: 25px;
$text-xlarge: 50px;
$text-logo: 60px;

@mixin fontface($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: '#{$name}';
    font-style: $style;
    src: url('./resources/fonts/#{$file}.ttf') format('truetype');
  }
}

@include fontface('Josefin Sans', 'JosefinSans/static/JosefinSans-Regular'); 
@include fontface('Poppins', 'Poppins/Poppins-Regular'); 
@include fontface('Poppins Bold', 'Poppins/Poppins-Bold', bold);
@include fontface('Poppins Italic', 'Poppins/Poppins-Italic');

// Color
$background-light: #ffffff;
$accent-pink: #FC6D83;
$accent-purple: #7676e8;
$text-light: #ffffff;
$text-muted: #6a6868;
$text-dark: #333333;

// Breakpoints
$screen-xsm-max: 390px;
$screen-sm-max: 540px;
$screen-md-max: 820px;
$screen-lg-max: 1300px;

@mixin small-phone {
  @media (max-width: #{$screen-xsm-max}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}
