// Font

$font-logo: "Lexend";
$font-title: "Quicksand Bold";
$font-bold: "Poppins Bold";
$font-regular: "Poppins";

$text-xxsmall: 10px;
$text-xsmall: 14px;
$text-small: 18px;
$text-medium: 24px;
$text-large: 36px;
$text-xlarge: 64px;
$text-xxlarge: 96px;
$text-logo: 45px;

@mixin fontface($name, $file, $weight: normal, $style: normal) {
    @font-face {
        font-weight: $weight;
        font-family: "#{$name}";
        font-style: $style;
        src: url("./resources/fonts/#{$file}.ttf") format("truetype");
    }
}

@include fontface("Lexend", "Lexend/Lexend-Medium");
@include fontface("Quicksand", "Quicksand/static/Quicksand-Regular");
@include fontface("Quicksand Bold", "Quicksand/static/Quicksand-Bold");
@include fontface("Poppins", "Poppins/Poppins-Regular");
@include fontface("Poppins Bold", "Poppins/Poppins-Medium");

// Color Scheme

$accent-pink: #fd6a80;
$accent-pink-focus: #c95566;
$accent-purple: #7676e8;
$background-light: #fffdfa;
$background-dark: #19123c;
$text-light: #fffdfa;
$text-muted: #c4c4c4;
$text-dark: #19123c;
$grey: #c4c4c4;
$light-grey: #e5e9f2;
$nav-bar-color: #f0efef;
$light-blue: #C0CBF2;
$dark-blue: #7D92DB;

@mixin lightmode() {
    --text-color: #19123c;
    --background-color: #fffdfa;
}

@mixin darkmode() {
    --text-color: #fffdfa;
    --background-color: #19123c;
}

// Breakpoints

$width-xsm-max: 390px;
$width-sm-max: 540px;
$width-md-max: 820px;
$width-lg-max: 1440px;

$height-xsm-max: 470px;
$height-sm-max: 550px;
$height-md-max: 580px;
$height-lg-max: 600px;

@mixin small-phone {
    @media (max-width: #{$width-xsm-max}), (max-height: #{$height-xsm-max}) {
        @content;
    }
}
@mixin phone {
    @media (max-width: #{$width-sm-max}), (max-height: #{$height-sm-max}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$width-md-max}), (max-height: #{$height-md-max}) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: #{$width-lg-max}), (max-height: #{$height-lg-max}) {
        @content;
    }
}
